* {
  box-sizing: border-box;
  }
  
  /* Add a background image */
  body {
  
    font-size: 100%;
    color:#abfaf0; /* #7de6e6 */
    padding: 0px;
    margin: 0px;
    background-image: url(./assets/back1.jpg);
    background-repeat:repeat-y;
    background-size:100vw;
    background: cover;
  }

    /* Header/Blog Title */
  .header {
    font-family: 'Poppins';
    font-size: larger;
    padding: 2px;
    font-size: 2em; 
    text-align: center;
    background-color:#2a2958;
    background-size: cover;
  }

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a2958;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #5ddfdf;
    font-size: large;  
    font-family:'Poppins';
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover {background-color: #bb356d;
    color:#2a2958;
  }
  
  
  ul.topnav li.right {float: right;
  }

  h2,h3,h4,h5 {
    font-size: 1.5em;
    font-family:'Poppins';
    padding: 0px 20px 0px 20px;
    margin:17px 0px 17px 0px;
  }

  article,p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:1.3em;
    padding: 0px 20px 0px 20px;
    margin: 17px 0px 0px 0px;

  }

  .titles{
    font-family: 'Alegreya', serif;
  }
  


  /* Con esto volvi a crear padding, creo que puede ir en container  */
  .padding{
    padding: 50px 15px 0px 15px;
    width: 100%;
   
  } 
  
  /* Debo crear filas que se vuelvan columnas  */
  .Container{
    width:100%;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Add a card effect for articles */
  .card {
    width:21rem;
    height:37em;
    margin: 25px 25px 25px 25px;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    overflow: hidden;
    background-color: #2a2958;
    border-radius:5px;
  }

  /* Propiedad hidden responsable de que img NO crezca demás*/
  .box {
    width: 100%;
    overflow: hidden;
  }

  /* Ideal pic size so they don't weight a lot: 570/320 */
  img{
    padding: 0px;
    display: block;
    width: 100%;
    max-height: 270px;
    border-radius: 1%;
    transition: 0.4s;
  }

  img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
   
  a:link{
    color:#76bdbd;
    text-decoration: none;
  }

  a:visited{
    color: #37c5cf;
  }

  a:hover{
    color: #d34c84;
  }
  
  /* Footer */
  .footer {
    padding: 10px 30px 10px 30px;
    text-align: center;
    background-color: #323169;
    margin-top: 80px;
  }

  .logo {
    margin: auto;
    padding-top: 25px;
    width:fit-content;
    border-width:0;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    
  }

  /* Centrar div de manera horizontal y poner imagen de fondo dentro de div
  .center {
    margin: auto;
    width: 80%;
    height:40vw;
    border: 3px solid rgb(61, 24, 122);
    border-radius: 2%;
    padding: 10px;
  }  */

  .fakeimg {
   background-image: url(./assets/doge.jpg);
   background-position: center;
   background-size:cover;
  }  