* {
  box-sizing: border-box;
  }
  
  /* Add a background image */
  body {
  
    font-size:large;
    color:rgb(125, 230, 230);
    padding: 0px;
    margin: 0px;
    background-image: url(./assets/back1.jpg);
    background-repeat:no-repeat;
    background-size:100vw 100vh;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
  }

    /* Header/Blog Title */
    .header {
      padding: 30px;
      font-size: 40px; 
      text-align: center;
      background-color:#323169;
      background-size: cover;
    }

  h2,h3,h4, h5 {
    font-family:'Poppins';
    padding: 0px 20px 0px 20px;
    margin:17px 0px 17px 0px;
  }

  article,p {
    font-family: sans-serif;
    font-size: medium;
    padding: 0px 20px 0px 20px;
    margin: 17px 0px 0px 0px;

  }
  


  /* Con esto volvi a crear padding del resto, excepto header y footer*/
  .padding{
    padding: 0px 30px 0px 30px;
  }
  
  /* Debo crear filas que se vuelvan columnas  */
  .Container{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  /* Add a card effect for articles */
  .card {
    width:22em;
    height:105vh;
    margin-top: 50px;
 
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    overflow: hidden;

    background-color: #323169;
    border-radius:5px;
  }

  /* Propiedad hidden responsable de que img NO crezca demás*/
  .box {
    width: 100%;
    overflow: hidden;
  }

  /* Ideal pic size so they don't weight a lot: 570/320 */
  img{
    padding: 0px;
    display: block;
    width: 100%;
    max-height: 270px;
    border-radius: 1%;
    transition: 0.4s;
  }

  img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
   
  a:link{
    color:rgb(118, 189, 189);
    text-decoration: none;
  }

  a:visited{
    color: pink;
  }

  a:hover{
    color:rgb(51, 172, 172);
  }
  
  /* Footer */
  .footer {
    padding: 10px 30px 10px 30px;
    text-align: center;
    background-color: #323169;
    margin-top: 80px;
  }

  .logo {
    margin: auto;
    padding-top: 25px;
    width:fit-content;
    border-width:0;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  /* Centrar div de manera horizontal y poner imagen de fondo dentro de div
  .center {
    margin: auto;
    width: 80%;
    height:40vw;
    border: 3px solid rgb(61, 24, 122);
    border-radius: 2%;
    padding: 10px;
  }  */

  .fakeimg {
   background-image: url(./assets/doge.jpg);
   background-position: center;
   background-size:cover;
  }  